node_modules/
*/node_modules/
.env
*/.env
server/.env
client/.env
client/.env.production
client/.env.local
client/dist/
client/build/
.DS_Store
**/.DS_Store
__MACOSX/
*.log
server/server.log
stitch_designs/
